$opt-default-primary: mat-palette($mat-grey, 400, 300, 500);
$opt-default-accent: mat-palette($mat-light-blue, 600, 300, 800);
$opt-default-warn: mat-palette($mat-red, 800, 700, 900);

$opt-default-theme: mat-light-theme(
    $opt-default-primary,
    $opt-default-accent,
    $opt-default-warn
);
