@import "styles-variables";

div {

  .item {
    padding: 20px;
  }

  .app {
    text-align: center;
  }

  .version {
    text-align: right;
  }

  .disclaimer {
    text-align: left;

    span {
      white-space: nowrap;
    }
  }


  @media (max-width: map-get($grid-breakpoints, md)) {
    .item {
      padding: 15px 0 0 0;
    }

    .row {
      padding-bottom: 15px;
    }

    .version {
      text-align: center;
    }

    .disclaimer {
      text-align: center;
    }

  }

}
