@import '~@angular/material/theming';

@mixin opt-footer-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);


  opt-footer {
    color: mat-color($primary, lighter);
    background-color: mat-color($primary, darker);

    a {
      color: mat-color($primary, lighter);
    }
  }
}

