<nav md-tab-nav-bar class="hidden-sm-down">
  <a md-tab-link
     *ngFor="let item of navigation"
     [routerLink]="item.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     [ngClass]="{ disabled: item.disabled }">
    {{item.label}} <span *ngIf="item.badge" class="badge">{{item.badge}}</span>
  </a>
</nav>
<md-select class="hidden-md-up" placeholder="Section Navigation"
           color="accent"
           [ngModel]="activeNavigationItem"
           (change)="onSelectChange($event.value)">
  <md-option *ngFor="let item of navigation"
             [value]="item"
             [disabled]="item.disabled">
    {{item.label}}
  </md-option>
</md-select>
