@import "styles-variables";

.container {
  margin-top: 20px;
  margin-bottom: 20px;

  h2 {
    .implied-volatility {
      font-weight: 400;
      border: 1px solid;
      border-radius: 5px;
      padding: 1px 7px;
      margin: 0 0 0 5px;
      white-space: nowrap;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    h2 {
      text-align: center;
    }
  }

  .form {

    md-radio-button {
      margin: 0 20px 30px 0;
    }

    md-input-container {
      width: 100%;
    }

    md-slider {
      width: 100%;
      position: relative;
      top: 15px;
    }
  }
}
