.container {
  padding-top: 20px;

  .query {
    md-input-container {
      width: 100%
    }
    md-autocomplete {
      width: 100%;
    }
    md-select {
      width: 100%;
    }

  }

  .results {

    small {
      position: relative;
      top: 22px;
    }

    md-spinner {
      margin: auto;
    }

    .underlying-info {
      padding: 0 20px 0 0;
    }

    .price-info {
      display: inline-block;
      white-space: nowrap;
    }

    tr {
      td {
        white-space: nowrap;

        i {
          transition: opacity 0.3s;
          opacity: 0;
          cursor: pointer;
        }
      }

      &:hover {
        td {
          i {
            opacity: 1;
          }
        }
      }
    }
  }
}

.underlying-holder {
  position: relative;

  .underlying-label {
    position: relative;
    top: -7px;
  }

  .underlying-meta {
    position: absolute;
    left: 17px;
    top: 12px;
  }
}
