@import "styles-variables";

.container {
  padding-top: 20px;

  .main-heading {
    margin-bottom: 20px;
  }

  .view-mode-selector {
    text-align: right;

    small {
      padding: 0 10px 0 0;
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .main-heading {
      text-align: center;
      margin-bottom: 0;
    }

    .view-mode-selector {
      text-align: center;
      margin-bottom: 20px;
    }
  }


  .query {
    md-input-container {
      width: 100%
    }
    md-autocomplete {
      width: 100%;
    }
    md-select {
      margin: 14px 0 0 0;
      width: 100%;
    }

  }

  .results {

    small {
      position: relative;
      top: 22px;
    }

    md-spinner {
      margin: auto;
    }

    .underlying-info {
      padding: 0 20px 0 0;
    }

    .price-info {
      display: inline-block;
      white-space: nowrap;
    }

    .table-wrapper {
      overflow-x: auto;
      margin-bottom: 20px;
    }

    tr {
      td {
        white-space: nowrap;

        i {
          transition: opacity 0.3s;
          cursor: pointer;
        }

        @media (min-width: map-get($grid-breakpoints, md)) {
          i {
            opacity: 0;
          }
        }
      }

      .strike {
        font-weight: bold;
      }

      &:hover {
        td {
          i {
            opacity: 1;
          }
        }
      }
    }

    .compact {

      th.strike {
        padding: 20px 20px 5px 20px;
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
      }

      td.strike {
        padding-left: 20px;
        padding-right: 20px;
        border-left: 2px solid;
        border-right: 2px solid;
        font-weight: bold;
        margin: 0 10px;
      }

      tr:last-child {
        td.strike {
          border-bottom: 2px solid;
        }
      }
    }
  }
}

.underlying-holder {
  position: relative;

  .underlying-label {
    position: relative;
    top: -7px;
  }

  .underlying-meta {
    position: absolute;
    left: 17px;
    top: 12px;
  }
}
