<div class="container" [@routeAnimation]="routeAnimationState">
  <form [formGroup]="parameters">
    <div class="row">
      <div class="col-md-4 form">
        <h2>Option Price Parameters</h2>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <md-radio-group formControlName="type">
              <md-radio-button value="call">Call</md-radio-button>
              <md-radio-button value="put">Put</md-radio-button>
            </md-radio-group>
          </div>
          <div class="col-sm-6">
            <md-radio-group formControlName="position">
              <md-radio-button value="buy">Buy</md-radio-button>
              <md-radio-button value="sell">Sell</md-radio-button>
            </md-radio-group>
          </div>
          <div class="col-sm-6">
            <md-input-container>
              <input type="number" mdInput formControlName="priceBase"
                     placeholder="Underlying price">
            </md-input-container>
          </div>
          <div class="col-sm-6">
            <md-input-container>
              <input type="number" mdInput formControlName="strikeBase"
                     placeholder="Strike">
            </md-input-container>
          </div>
          <div class="col-sm-6">
            <md-input-container>
              <input type="number" mdInput formControlName="expirationBase"
                     placeholder="Days to expiration">
            </md-input-container>
          </div>
          <div class="col-sm-6">
            <md-input-container>
              <input type="number" mdInput formControlName="volatilityBase"
                     placeholder="Volatility (% p.a.)">
            </md-input-container>
          </div>
          <div class="col-sm-6">
            <md-input-container>
              <input type="number" mdInput formControlName="interestBase"
                     placeholder="Risk-free interest rates (% p.a.)">
            </md-input-container>
          </div>
          <div class="col-sm-6">
            <md-input-container>
              <input type="number" mdInput formControlName="dividendsBase"
                     placeholder="Dividend yield (% p.a.)">
            </md-input-container>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 simulation">
            <h2>
              <md-icon mdTooltip="Simulated values override entered option price parameters"
                       mdTooltipPosition="after">
                info_outline
              </md-icon>
              Simulation
              <md-icon class="action"
                       mdTooltip="Reset simulation variables"
                       mdTooltipPosition="above"
                       (click)="onRestoreClick()">
                settings_backup_restore
              </md-icon>
            </h2>

            <div class="row">
              <div class="col-6">
                <md-input-container>
                  <input type="number" mdInput formControlName="price"
                         placeholder="Underlying price">
                </md-input-container>
              </div>
              <div class="col-6">
                <md-slider thumbLabel
                           [min]="0"
                           [max]="Math.ceil(parameters.getRawValue().strikeBase * 2)"
                           step="1"
                           formControlName="price"
                           [value]="parameters.getRawValue().price"
                           (input)="onSliderUpdate('price', $event.value)">
                </md-slider>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <md-input-container>
                  <input type="number" mdInput formControlName="strike"
                         placeholder="Strike">
                </md-input-container>
              </div>
              <div class="col-6">
                <md-slider thumbLabel
                           [min]="Math.ceil(parameters.getRawValue().strikeBase * 0.9)"
                           [max]="Math.ceil(parameters.getRawValue().strikeBase * 1.1)"
                           step="1"
                           formControlName="strike"
                           [value]="parameters.getRawValue().strike"
                           (input)="onSliderUpdate('strike', $event.value)">
                </md-slider>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <md-input-container>
                  <input type="number" mdInput formControlName="expiration"
                         placeholder="Days to expiration">
                </md-input-container>
              </div>
              <div class="col-6">
                <md-slider thumbLabel
                           min="0"
                           [max]="parameters.getRawValue().expirationBase * 2"
                           step="1"
                           formControlName="expiration"
                           [value]="parameters.getRawValue().expiration"
                           (input)="onSliderUpdate('expiration', $event.value)">
                </md-slider>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <md-input-container>
                  <input type="number" mdInput formControlName="volatility"
                         placeholder="Volatility (% p.a.)">
                </md-input-container>
              </div>
              <div class="col-6">
                <md-slider thumbLabel
                           min="0"
                           [max]="parameters.getRawValue().volatilityBase * 2"
                           step="1"
                           formControlName="volatility"
                           [value]="parameters.getRawValue().volatility"
                           (input)="onSliderUpdate('volatility', $event.value)">
                </md-slider>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <md-input-container>
                  <input type="number" mdInput formControlName="interest"
                         placeholder="Risk-free interest rates (% p.a.)">
                </md-input-container>
              </div>
              <div class="col-6">
                <md-slider thumbLabel
                           min="-5"
                           [max]="Math.max(parameters.getRawValue().interestBase * 4, 10)"
                           step="1"
                           formControlName="interest"
                           [value]="parameters.getRawValue().interest"
                           (input)="onSliderUpdate('interest', $event.value)">
                </md-slider>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <md-input-container>
                  <input type="number" mdInput formControlName="dividends"
                         placeholder="Dividend yield (% p.a.)">
                </md-input-container>
              </div>
              <div class="col-6">
                <md-slider thumbLabel
                           min="0"
                           [max]="Math.max(parameters.getRawValue().dividendsBase * 4, 10)"
                           step="1"
                           formControlName="dividends"
                           (input)="onSliderUpdate('dividends', $event.value)">
                </md-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 chart-holder">
        <div style="display: inline">
          <button md-button (click)="onZoomClick(-zoomChangeStep)">
            <md-icon>zoom_in</md-icon>
          </button>
          <button md-button (click)="onZoomClick(zoomChangeStep)">
            <md-icon>zoom_out</md-icon>
          </button>
          <h2>Option Price <span>{{values.price}}</span></h2>
        </div>
        <div class="greeks clearfix">
          <div class="greek" *ngFor="let greek of greeks"
            (click)="onGreekClick(greek)">
            <span class="symbol" [style.background-color]="greek.hidden ? '#aaa' : greek.color">
              {{greek.symbol}}
            </span>
            <div class="label">
              {{greek.label}}<br>
              {{values[greek.label.toLowerCase()]}}
            </div>
          </div>
        </div>
        <div class="chart-container">
          <canvas #optionChartCanvas height="195"></canvas>
        </div>
      </div>
    </div>
  </form>
</div>
