.container {
  margin-top: 20px;
  margin-bottom: 20px;

  .form {
    margin-bottom: 40px;

    md-radio-button {
      margin: 0 20px 10px 0;
    }

    md-input-container {
      width: 100%;
    }
  }

  .chart-holder {
    span {
      float: right;
      position: relative;
      top: 7px;
    }
    button {
      float: right;
      padding: 0;
      min-width: 36px;
      margin: 0 0 0 5px;
    }
  }

  .chart {
    min-height: 400px;
    overflow: hidden;
  }

  .simulation {
    label {
      font-size: 16px;
      padding: 9px 0 0 0;
    }
    md-slider {
      width: 100%;
      padding: 10px 0;
    }
    md-slide-toggle {
      float: right;
      position: relative;
      top: 11px;
    }
    md-icon {
      float: left;
      margin: 7px 5px 0 0;
    }
  }
}
