@import '~@angular/material/theming';

@mixin opt-calculator-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  .simulation {
    label {
      color: mat-color($foreground, disabled-text);
    }
  }

}

