.container {
  margin-top: 20px;
  margin-bottom: 20px;

  .form {
    margin-bottom: 40px;

    md-radio-button {
      margin: 0 20px 10px 0;
    }

    md-input-container {
      width: 100%;
    }
  }

  .chart-holder {
    button {
      float: right;
      padding: 0;
      min-width: 36px;
      margin: 0 0 0 5px;
    }

    table {
      .symbol {
        display: inline-block;
        width: 24px;
        margin: 0 5px 0 0;
        border-radius: 15px;
        text-align: center;
        color: #ffffff;
      }

      td:nth-child(3) {
        text-align: right;
      }
      td:nth-child(4) {
        text-align: right;
      }
    }
  }

  .chart-container {
    position: relative;

    canvas {
      user-select: none;
    }
  }

  .simulation {
    label {
      font-size: 16px;
      padding: 9px 0 0 0;
    }
    md-slider {
      width: 100%;
      position: relative;
      top: 15px;
    }
    md-icon {
      float: left;
      margin: 7px 5px 0 0;

      &.action {
        cursor: pointer;
        float: right;
      }
    }
  }
}
