* {

  a:hover, a:active, a:focus {
    text-decoration: none;
  }

  &:active, :focus {
    outline: none !important;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 26px !important;
  font-weight: 300 !important;
}

label {
  margin: 0;
}

html, body {
  height: 100%;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
